#faketalk_content * {
    box-sizing: border-box;
}


/* Form Notice */
.notice.facetalk_notice {
    padding: 10px;
    border-left-color: #ad00cc;
}

/* Fix WP Styles */
body.faketalk #wpcontent {
    padding-left: 0px;
}
#faketalk_content h2 {
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 9px 0 4px 0;
    line-height: 1.3;
}

/* Breadcrumbs */
.faketalk_breadcrumbs {
    padding: 22px 120px 22px 32px;
    height: 60px;
    margin: 0 auto;
    width: calc(100% - 160px);
    background: #fff;
    position: fixed;
    top: 32px;
    z-index: 110;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faketalk_breadcrumbs ul {
    display: flex;
}
.faketalk_breadcrumbs ul li a {
    text-decoration: none;
}
.faketalk_breadcrumbs ul li a:hover {
    color: black;
}
.faketalk_breadcrumbs ul li:nth-child(1) a {
    font-weight: bold;
}
.faketalk_breadcrumbs ul li:nth-child(2):before {
    content: " / ";
    margin: 0px 5px 0px 10px;
}

/* Inner Container */
#faketalk_inner_container {
    padding: 70px 30px 10px;
}

/* Dashboard */
.faketalk_page_wp-fake-comments-generator-dashboard #faketalk_tabbed {
    display: flex;
}
.faketalk_dash_box {
    background: white;
    padding: 0px 15px;
    margin: 25px 25px 25px 0px;
    max-width: 500px;
    width: 100%;
}
.faketalk_dash_box h4 {
    font-weight: 400;
    font-size: 22px;
    line-height: 45px;
    margin: 0px -15px 0px;
    padding: 5px 15px;
    border-bottom: 1px solid #cccc;
    background: #2271b1;
    color: #fff;
}
.faketalk_dash_box .no-faketalk_comments {
    display: block;
    text-align: center;
    padding: 35px 0px;
}
.faketalk_dash_box .form-table th {
    font-weight: 400;
}
.faketalk_dash_box ul {
    margin: 0px -15px;
}
.faketalk_dash_box ul li {
    border-bottom: 1px solid #cccc;
    padding: 15px;
}
.faketalk_dash_box ul li:nth-last-child(1) {
    border-bottom: none;
}
.faketalk_dash_box ul li a {
    text-decoration: none;
}
.faketalk_dash_box ul li a:hover {
    color: black;
}
.faketalk_dash_box ul li a.faketalk_comment_ID {
    font-size: 20px;
}
.faketalk_comment_meta {
    margin: 10px 0px 5px;
}
.faketalk_comment_text {
    margin: 10px 0px;
    border-left: 2px solid #cccc;
    padding-left: 8px;
}
.faketalk_footer_links a {
    margin-right: 10px;
}

/* Main Form Styles */
#faketalk:after {
    content: " ";
    display: block;
    clear: both;
}
#faketalk label {
    font-size: 12px;
    display: block;
    padding: 0px 0px 4px 1px;
}
#faketalk input[type='text'] {
    border: 1px solid #c3c4c7;
    margin-bottom: 10px;
}
#faketalk .faketalk_title {
    font-size: 1.4em;
    margin: 0.2em 0 0.5em;
    display: block;
    line-height: 1.4;
    font-weight: 400;
}
#faketalk .description {
    margin-bottom: 10px;
}

/* Tabbed Content > Windows */
#faketalk_tabbed .faketalk_plugin_body {
    min-height: 450px;
    padding: 20px;
    box-sizing: border-box;
}
#faketalk_tabbed .faketalk_tabbed_window {
    display: none;
}
#faketalk_tabbed .faketalk_tabbed_window.show {
    display: block;
}

/* Tabbed Content > Sidebar List */
#faketalk_tabbed .faketalk_tabbed_list {
    margin: 0px;
}
#faketalk_tabbed .faketalk_tabbed_list li {
    opacity: 0.4;
    cursor: pointer;
}
#faketalk_tabbed .faketalk_tabbed_list li:hover {
    opacity: 0.7;
}
#faketalk_tabbed .faketalk_tabbed_list li.current {
    opacity: 1;
}
#faketalk_tabbed .faketalk_tabbed_list .faketalk-sidebar-prom img {
    width: 100%;
}

/* Tabbed Content > Target Selection */
#faketalk #faketalk_target .faketalk_all_option {
    padding-bottom: 15px;
    border-bottom: 1px solid #c3c4c7;
}
#faketalk #faketalk_target #faketalk_posts {
    width: 100%;
    max-width: 100%;
    overflow: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
#faketalk #faketalk_target #faketalk_posts option {
    padding: 3px;
}

/* Tabbed Content > Add Comments */
#faketalk #faketalk_comments #comments_text {
    margin-top: 10px;
}

li.postbox {
    background: transparent;
    border: none;
    margin-bottom: 5px;
    padding-left: 4px;
}

li.postbox.current {
    border-left: 4px solid #2271b1;
    padding-left: 0px;
}